#img-bg{
    background-image: url(../../assets/img/login2.jpg);
    background-position: center;
    min-height: 695px;
    background-repeat: no-repeat;
    background-size: cover;
}

.fundo{
    background-color: #230903;
}