#img-bg{
    background-image: url(../../assets/img/login2.jpg);
    background-position: center;
    min-height: 695px;
    background-repeat: no-repeat;
    background-size: cover;
}

.fundo{
    background-color: #230903;
}

.fundobox {
    background-color: #9A8873;
}



.texto {
    color: #000000;
}

.cads {
    color: #230903;
}

.cads:hover {
    color: #662415;
    
}