#img-bg {
    background-image: url(../../assets/img/cadastrarterror.jpg!d);
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fundo {
    background-color: #230903;
}

