/* You can add global styles to this file, and also import other style files */

html {
    scroll-behavior: smooth;
}

.fs-54 {
    font-size: 54pt;
}

.fs-18 {
    font-size: 18pt;
}

.fonteTerror {
    font-family: 'Creepster', cursive;
    font-size: 60px;
}

.fonteTexto {
    font-family: 'Mate SC', serif;
    font-size: 21px;
}

.fonteSobre {
    font-family: 'Bangers', cursive;
}